* {
  font-family: 'Rubik', 'Nunito', sans-serif;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.pad-25 {
  padding: 25px;
}

h1.ant-typography {
  font-size: 22px;
}

.ant-modal-body {
  padding-bottom: 15px;
}

.modal-form {
  padding-top: 20px;
}

.ant-layout-header {
  background-color: #fff;
}