* {
  font-family: 'Rubik', 'Nunito', sans-serif;
}

.logo {  
  padding: 14px;
  padding-left: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  /* background: #0a2946; */
}

.logo-text {
  width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pad-25 {
  padding: 25px;
}

.title {
  font-size: 18px;
}

.gray {
  color: #5c5c5c;
}

.light-gray {
  color: rgb(144, 144, 144);
}

.accent {
  color: rgb(43, 29, 56);
}

.bolder {
  font-weight: 600;
}

.sans-serif {
  font-family: sans-serif;
}

h1.ant-typography {
  font-size: 22px;
}

.ant-modal-body {
  padding-bottom: 15px;
}

.modal-form {
  padding-top: 20px;
}

.ant-layout-header {
  background-color: #fff;
}

.project-settings {
  font-size: 16px;
}

.ant-menu-item span::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  content: '';
}

.disabled-link {
  pointer-events: none;
}

.my-list {
  margin-top: 20px;
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}