* {
  font-family: 'Rubik', 'Nunito', sans-serif;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.pad-25 {
  padding: 25px;
}

.title {
  font-size: 18px;
}

.gray {
  color: #5c5c5c;
}

.light-gray {
  color: rgb(144, 144, 144);
}

.accent {
  color: rgb(43, 29, 56);
}

.bolder {
  font-weight: 600;
}

.sans-serif {
  font-family: sans-serif;
}

h1.ant-typography {
  font-size: 22px;
}

.ant-modal-body {
  padding-bottom: 15px;
}

.modal-form {
  padding-top: 20px;
}

.ant-layout-header {
  background-color: #fff;
}

.project-settings {
  font-size: 16px;
}