/* Header */

.issue-details-content {
  padding: 20px 30px;
  font-weight: 400;
}

.header-param-title {
  margin: 0;
}

.header-param {
  font-size: 16px;
}

.issue-details-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-details-title {
  line-height: normal !important;
  margin-bottom: 0 !important;
  letter-spacing: 0 !important;
  font-weight: 500 !important;
}

.issue-details-path {
  line-height: normal !important;
  margin-bottom: 0 !important;
  letter-spacing: 0 !important;
  font-weight: 300 !important;  
  color: #5c5c5c !important;
}

.issue-details-info .ant-skeleton-title {
  margin: 0;
}

.event-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exception-code-card {
  margin-top: 30px;
  border: 1px solid #dedede;
}

.exception-code-card .ant-card-body {  
  padding: 10px;
}

.exception-code-card pre {
  margin: 0;
}

.event-stacktrace {
  margin-top: 40px;
  padding-left: 15px;  
}

.stacktrace-content {
  overflow: scroll;
  height: 600px;
}

.details-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}