/* Header */

.project-title .ant-skeleton-title {
  margin: 0;
  height: 18px;
}

.ant-space-item {
  line-height: normal;
}

.borderless .ant-select-selector, .borderless .ant-select-selection-search {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.environment .ant-select-arrow {
  margin-top: -8px;
  font-size: 14px;
}

.environment .ant-select-selection-overflow {
  max-width: 95%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.period .ant-select-arrow {  
  margin-top: -9px;
  font-size: 14px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 11px !important;
}

/* Body */

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #bbb !important;
  box-shadow: none !important;
}

.ant-input:focus, .ant-input:hover {
  border-color: #bbb !important;
  box-shadow: none !important;
}

.issues-content {
  padding: 20px 30px;
  font-weight: 400;
}

.issues-title {
  line-height: normal !important;
  margin-bottom: 0 !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.sort-by-select {
  flex: 1 1;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sort-by-select .ant-select-selector {
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}



.issues-table {
  margin-top: 20px;
}

.issues-table .ant-table-row .ant-table-cell:nth-child(2n) {
  padding: 0 !important;
}

a {
  -webkit-transition: width 0s;
  -moz-transition: width 0s;
    -o-transition: width 0s;
       transition: width 0s;
}

a:hover .issue-class-path {
  color: rgb(144, 144, 144);
}

a:hover .issue-exception-title {
  color: #0f72cf;
}

.issue-item {
  padding: 5px;
  overflow: hidden;
}

.issue-item .issue-item-header * {
  line-height: normal;  
}

.issue-item-exception {
  font-family: 'Rubik', 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-exception-title {
  color: #1890ff;
}

.issue-class-path {
  font-weight: 400;
  margin-left: 10px;
  font-size: 14px;
}

.issue-exception-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-parameters {
  font-size: 12px;
}